@keyframes blink {
    to {
      background: transparent;
    }
  }
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

@media(max-width:1000px){
.sidebar-right{
  margin-left:100%;
  width:60%;
  background:rgba(132, 132, 128)
}
.sidebar-right img{
  width:60%;
  margin-left:80px;
}
.container{
  margin-left:30%;
}
header{
  width:65%;
  right:95px;
  background:none;
}
.header-left h1{
  margin-left:30px;
  font-size:25px;
  margin-top:12px;
  background:none;

}
marquee{
  width:50%;
  margin-left:285px;
}
.menu{
float:right;
display:flex;
margin-top:15px;
margin-right:20px;
}
#check:checked ~ .sidebar-right {
	margin-left:25%;
}
table, th, td{
  width:75%;
  margin-left:70px;
}
td{
  font-size:14px;
}
.container-footer p{
  padding:25px 25px;
}
.container-footer{
  width:76%;
  overflow:hidden;
}
}

@media(max-width:670px){
.sidebar-right{
  display:none;
}
.sidebar{
  margin-left:-270px;
}
.sidebar img{
  display:none;
}
.sidebar h2{
  margin-top:10px;
}
.container{
  width:100%;
  font-size:20px;
  margin-left:0;
  margin-right:0;
  text-align:justify;
}
p{
  padding:0 8px;
}
.header-left h1{
  margin-left:-70px;
  font-size:22px;
  margin-top:15px;
}
marquee{
 width:100%;
 margin-top:0;
 margin-left:0;
}
.menu{
  float:left;
  border:2px white solid;
  margin-top:85px;
}
#check:checked ~ .sidebar{
	margin-left:250px;
}
.ref::before {
  color: rgb(255, 255, 255);
  content: "Sertifikat ";
}
#sertifikat{
  display:flex;
  align-items:center;
  justify-content:center;
}
table, th, td {
  font-size:13px;
}
th{
  text-align:center;
}
.slider{
  width:400px;
  height:300px;
  border-radius:10px;
  overflow:hidden;
  margin-left:40px;
}
.slides{
  width:500%;
  height:520px;
  display:flex;
}
.slides input{
  display:none;
}
.slide{
  width:20%;
  transition:.9s;
}
.slide img{
  margin-top:3px;
  width:300px;
  height:300px;
  margin-left:50px;
  border:2px solid black;
}
.slide img:hover{
  transform:scale(1.2);
  transition:.8s;
}
/*navigation manual*/

.navigation-manual{
position:absolute;
width:300px;
margin-top:305px;
margin-left:50px;
display:flex;
justify-content:center;
}
.manual-btn{
  border:2px solid #40D3DC;
  padding:5px;
  border-radius:10px;
  cursor:pointer;
  transition:.5s;
}
.manual-btn:not(:last-child){
  margin-right:10px;
}
.manual-btn:hover{
  background:crimson;
}
#radio1:checked~.first{
  margin-left:0;
}
#radio2:checked~.first{
  margin-left:-17.7%;
}
#radio3:checked~.first{
  margin-left:-35.4%;
}
#radio4:checked~.first{
  margin-left:-53.3%;
}
#radio5:checked~.first{
  margin-left:-70.9%;
}
#radio6:checked~.first{
  margin-left:-88.7%;
}
#radio7:checked~.first{
  margin-left:-120%;
}
#radio8:checked~.first{
  margin-left:-140%;
}
#radio9:checked~.first{
  margin-left:-160%;
}
#radio10:checked~.first{
  margin-left:-180%;
}
#radio11:checked~.first{
  margin-left:-200%;
}
.container-footer{
  margin:7px 0;
  width:100%;
  height:150px;
}
.container-footer p{
  padding:25px 25px;
}
}
